body{
    padding: 30px;
}
#boton-search{

    background-color: white;
    color: rgb(5, 93, 193);
    border-radius: 20px;
    border: 3px solid rgb(5, 93, 193);
    padding: 10px;
    display: block;
    width: 20%;
    font-size: 15px;
    font-weight: bold;
}

#boton-add{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(43, 168, 236);
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}
#boton-add span {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    

  }
#button-create{
    background-color: rgb(27, 99, 181);
    color: white;
    border-radius: 0px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 0px 0px rgb(0, 0, 0);
    padding: 10px;
    display: block;
    width: 25%;
    font-size: 15px;
    display: block;
    margin-top: 10px;
    
}